/*--------------------------------------------------------------
# Basic Global Base Layout Stuff
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

//ios tap highlight. Set to no color.
html * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.touchscroll {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.hide-scroll::-webkit-scrollbar {
  width: 0 !important;
}

.hide-scroll{
  -ms-overflow-style: none;
}

*:focus {
  outline: none;
}

/*--------------------------------------------------------------
# Panel Setup
--------------------------------------------------------------*/
.site-container {
  display: flex;
  position: relative;
  overflow: hidden;
  background: inherit;
  > div {
    z-index: 90;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    transition: all .5s;

    &:empty {
      display: none;
    }
  }
}

#panel-right {
  order: 3;
}

/*--------------------------------------------------------------
# Sticky footer work.
--------------------------------------------------------------*/
/*
   - Sticky footer makes sure that the footer of the site is at the bottom no matter how small the content is.
*/
#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex-basis: 100%;
  z-index: 80;
  transition: none;
}

/*
	- By making sure there main content flexes as long as possible the footer below it will be at least or more than the height of the browser
 */
.site-content {
  flex: 1 0 auto;
  overflow: hidden;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-skip{
  height: 0;
  overflow: hidden;
  width: 0;
  clip: rect(1px, 1px, 1px, 1px);
} //placed on an item where we want the screen reader to skip to.

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  color: white;
  background-color: black;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*------- responsive images --------*/
img {
  max-width: 100%;
  height: auto;
}


/*--------------------------------------------------------------
# Utility Classes
--------------------------------------------------------------*/
.hidden, .hide {
  display: none;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after {
  clear: both;
}


//fixes data-toggle in ie11 on svg items
@media screen and (-ms-high-contrast:active), (-ms-high-contrast: none) {
  [data-toggle] svg{
    pointer-events: none;
  }
}

[data-toggle]{
	cursor: pointer;
}

[data-slide]{
	overflow: hidden;
}



