@use "../resources" as *;

/*--------------------------------------------------------------
# All Menus
--------------------------------------------------------------*/
.menu,
.menu > ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

//sub-menus opened easily with focus. unfortunately i cannot control if this was done with a keyboard or not so it messes with slideup events
.no-js .menu-item:focus-within > .sub-menu {
  display: block !important;
}


/*--------------------------------------------------------------
# Vertical Menus
--------------------------------------------------------------*/
@mixin vertical-menu() {
  //when there is a menu its ul.menu and when its defaulting to pages its .menu ul...annoying
  .menu,
  .menu > ul {
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      margin: 0;

      //added with hook. holds anchor and submenu button if applicable
      .menu-item-link {
        padding: 5px 15px;
        display: flex;
        align-items: flex-start;
        transition: all .5s;

        a {
          padding: 0;
        }
      }

      a {
        text-decoration: none;
        outline: none;
        color: inherit;
        cursor: pointer;
        display: block;
        flex-grow: 1;
        flex-shrink: 0;
        font-size: inherit;
      }

      // > icon for submenu button layout
      .submenu-dropdown-toggle {
        padding-left: 10px;
        padding-right: 0;
        display: inline-block;
        color: inherit;
        text-align: right;
      }

    }


    //sub-menu basic styling for vertical
    .sub-menu, .children {
      list-style: none;
      margin: 0;
      display: none; //opens with slidedown especially on mobile
      overflow: hidden;
      width: auto;
      white-space: nowrap;
      padding: 0;

      //vertical inner items inner submenu items over a bit as they are listed down
      .menu-item-link {
        padding-left: 30px;
      }
    }

    .current-menu-item > .sub-menu {
      display: block;
    }

  }
  //.menu ul

}


/*--------------------------------------------------------------
# Horizontal Menus
--------------------------------------------------------------*/
//vertical menus with a class of .horizontal-menu can become horizontal when the screen is wide enough
@mixin horizontal-menu($breakpoint: $media-nav) {

  @media(min-width: $breakpoint) {

    //removing padding on right of last item
    .top-level-item:last-child > .menu-item-link {
      padding-right: 0;
    }

    //removing padding on left of first item
    .top-level-item:first-child > .menu-item-link {
      padding-left: 0;
    }


    .menu,
    .menu > ul {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      flex-direction: row;
      height: 100%;


      //make top level items flexed so they can be positioned at top or bottom of site-top
      .top-level-item > .menu-item-link {
        display: flex;
        height: 100%;
        align-items: var(--desktop-menu-alignment);
      }


      //top level sub-menus
      .top-level-item > .sub-menu, .top-level-item > .children {
        position: absolute;
        z-index: 10;
        top: 100%; //right below nav bar
        left: 50%;
        transform: translate(-50%, 0); //magically centers the element
        display: block;


        a {
          flex-shrink: 1;
        }
      }

      .sub-menu .menu-item-link {
        padding: 3px 15px;
      }


      //even lower sub-menus
      .sub-menu .sub-menu {
        display: none;
        position: relative;
        padding: 0;
        transition: none;

        a {
          padding-left: 10px;
        }
      }

    }
  }

  @media(max-width: $breakpoint) {
    @include vertical-menu();
  }

}

/*------- Apply the menus --------*/
@include vertical-menu();

.horizontal-menu {
  @include horizontal-menu();
}


/*--------------------------------------------------------------
# Site-top Layout
--------------------------------------------------------------*/
/*------- Site-top --------*/
.site-top {
  z-index: var(--z-index-menu);
  width: 100%;
  position: relative;
  left: 0;
  top: 0;

  .site-top-container {
    height: 100%;
  }
}

/*------- Navigation --------*/
.site-navigation {
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  height: 100%;


  .site-navigation__nav-holder {
    display: flex;
    justify-content: flex-end;
  }

  //dealing with customizer when choosing a logo
  .site-logo {


    a + a {
      display: none;
    }

    a {
      transition: all .5s;
    }

    h1, p {
      font-size: inherit;
    }
  }
}


//hide navigation on mobile if its inside site-top while it hasnt moved yet. There is a split second where it appears as a vertical menu in site top...
@media(max-width: $media-nav) {
  .site-navigation .site-navigation__nav-holder {
    display: none;
  }

}


/*--------------------------------------------------------------
# Site Logo Layout
--------------------------------------------------------------*/
.site-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  a {
    color: inherit
  }

  svg {
    max-width: 100%;
    height: auto;
  }
}

.site-logo h1,
.site-logo p {
  margin: 0;
}

.site-logo__link, .site-title a, .custom-logo-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;

  img {
    display: block;
  }
}

//logo positions
@media (min-width: $media-nav) {

  //layout positions
  .logo-left .site-logo {
    justify-content: left;
  }

  .logo-right .site-logo, .logo-center-under .site-logo {
    order: 2;
  }

  .logo-center .site-navigation, .logo-center-under .site-navigation {
    flex-direction: column;
    align-items: center;

  }

  .no-logo .site-logo {
    display: none;
  }

  .logo-in-middle > .site-logo, .logo-in-middle > .container .logo-in-middle {
    display: none;
  }

  .logo-in-middle .site-navigation__nav-holder {
    justify-content: center;
  }

  .logo-in-middle .site-navigation > .site-logo {
    display: none;
  }

  .logo-right .site-navigation__nav-holder {
    justify-content: flex-start;
  }

}

#panel-left .site-navigation__nav-holder .site-logo {
  display: none;
}


/*--------------------------------------------------------------
# Main menu in panel left
--------------------------------------------------------------*/

#panel-left {
  .site-navigation__nav-holder {
    min-width: var(--panel-left-width);
    overflow: auto;
    max-height: 90vh;
    padding-bottom: var(--gap);
    @extend .hide-scroll !optional;

  }

}

/*------- Cool App like menu for mobile --------*/
@media(max-width: $panel-left-absolute) {
  .app-menu {
    #panel-left {
      transition: none;
      transform: translate(0, 0);
      width: 100%;
      z-index: calc(var(--z-index-menu) - 1);

      .menu-item-link {
        a {
          max-width: 40vw;
        }
      }

      .site-navigation__nav-holder {
        margin-top: 20vh;
      }
    }

    #page {
      background: inherit;
      transition: transform .5s;
    }

  }

  //when menu is opened body gets class menu-open, #page moves
  .app-menu.menu-open {

    #page {
      border-radius: 5px;
      transform: translate(50vw, -2vh) scale(.75);
      box-shadow: -3px 0 10px rgba(0, 0, 0, .5);
      overflow: hidden;
      height: 100vh;
    }

    #panel-left {
      height: 100vh;
      overflow: auto;
    }

    &.admin-bar #panel-left {
      height: calc(100vh - 46px);
    }
  }

  .mobile-menu-body-lock {
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    .site-container {
      height: 100%;
    }
  }

}

//lock body needed to make it look right and no scrolling around
.body-lock {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  .site-container {
    height: 100%;
  }
}

//ios changes
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .app-menu.menu-open #page {
    transform: translate(50vw, -5vh) scale(.75);
  }
}



