@use "../resources" as *; //should also load resources

/*--------------------------------------------------------------
# Menu Styling: Mobile and All other Vertical menus (sidebar)
--------------------------------------------------------------*/
//menu items
.menu li {
  color: white;
}


/*--------------------------------------------------------------
# Desktop Menu Styling for top menu and default menus that are horizontal
--------------------------------------------------------------*/
@media(min-width: $media-nav) {
  .site-top .menu, .horizontal-menu .menu {

	//all menu items default
	li {
	  color: white;
	  font-weight: bold;
	}

	//top level items:
	.top-level-item {

	  //current and hovered and parent
	  &.current-menu-item > .menu-item-link, .menu-item-link:hover, .menu-item-link.focus, &.toggled-on, &.current-menu-parent > .menu-item-link{
		background: transparent;
		color: black;
	  }

	  //top level submenu dropdown items
	  & > .sub-menu {
		background: #f78da7;

		//inside sub menu: current and hovered
		.menu-item-link:hover, .current-menu-item .menu-item-link, .menu-item-link.focus {
		  background: rgba(0, 0, 0, .5);
		  color: white;
		}
	  }

	}
  }

}



//menu items in the left panel > current and focused
#panel-left {
  .menu .current-menu-item > .menu-item-link, .menu .menu-item-link.focus {
	background: rgba(0, 0, 0, .5);
	color: white;
  }
}

//for more panel-left styling see panels.scss



