@use "../resources" as *; //should also load resources

/*
  Menu items .menu-item>.menu-item-link>a+button
  Menu items have an li and a li > menu-item-link that can be styled.
  Sometimes if you style the li, this will include the sub menu inside.
  menu-item-link only styles the current link, not the submenus
 */
/*--------------------------------------------------------------
# Menu Styling: Vertical Menus Anywhere (sidebars etc...)
--------------------------------------------------------------*/
//menu items default
.menu li {
  color: white;
}

//item hovered on
.menu li:hover, .menu li.toggled-on, .menu li:active {
  color: black;
}


//menu items in the left panel overrides
#panel-left {
  //current menu and a toggled-open one
  .menu .current-menu-item, .menu li.toggled-on{
    background: rgba(0, 0, 0, .3);
    color: white;

    //top level item
    > .menu-item-link{
      background: rgba(0, 0, 0, .5);
    }
  }
}


/*--------------------------------------------------------------
# Desktop Menu Styling overrides and default menus that are horizontal
--------------------------------------------------------------*/
@media(min-width: $media-nav) {
  .site-top .menu, .horizontal-menu .menu {

    //all menu items default
    li {
      color: white;
      font-weight: bold;
    }

    //top level items:
    .top-level-item {

      //top level menu item
      &.toggled-on, &:hover, &:focus-within{
        background: transparent;
        color: black;
      }

      //top level submenu dropdowns
      & > .sub-menu {
        display: none; //if you wont use the slide down effect change this, but change the functions in navigations.js too
        background: white;
        border-radius: 0 0 3px 3px;


        .menu-item-link {
          transition: all .5s;
          color: var(--highlight);
        }


        //all li's inside sub menu: current and hovered
        li:hover > .menu-item-link, li:focus-within > .menu-item-link {
          background: var(--highlight);
          color: white;
        }
      }

    }

    //top-level items
  }

}


/*--------------------------------------------------------------
# Sub-Menu Dropdown Buttons styling
--------------------------------------------------------------*/
.submenu-dropdown-toggle .icon {
  transition: transform .4s;
}

.submenu-dropdown-toggle,
.submenu-dropdown-toggle:focus {
  background: none;
  border: none;
  margin: 0;
  display: inline;
  outline: none;
  cursor: pointer;
  min-width: 1.5em;
  text-align: left;
  font-size: inherit;
  color: inherit;
}

.menu-item.toggled-on > .menu-item-link .icon {
  transform: rotate(90deg);
}

//for more panel-left styling see panels.scss



