/*--------------------------------------------------------------
# Animation Setup
--------------------------------------------------------------*/
//set element up for animations. Defaults
[data-scrollanimation], .animated, [data-toggle] {
  animation-fill-mode: both;
  animation-duration: 1s;
  transform: translate(0);
}

/*------- infinite animation --------*/
.infinite{
  animation-iteration-count: infinite;
}

/*------- Special class for fixing at top. Useful with scrollanimation --------*/
.fixed-at-top {
  position: fixed;
  width: 100%;
  top: 0;
}


//for scrub/tweening you will need a start and end class. make sure the item has the start class already.
/*--------------------------------------------------------------
# Scrub animations.
# Expect to go from a start class of transitions to an end class.
# make sure to include data-scrollscrub, as well as a starting class to tween from
--------------------------------------------------------------*/
.site-container [data-scrollscrub]{
  transition: none;
}

//if you plan on tweening from an opacity of 0, add this class too.
.js .animateIn {
  opacity: 0; //start at nothing
}


//some animations included
//Example: use data-scrollanimation="fadeInUp"
/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

//Add more animations here!




