/*
	This file is for styling your comment sections
*/

//if comments is inside container-content because of a sidebar, make sure #comments is full width
.container-content #comments{
  margin-left: calc(-1 * var(--gutters));
  margin-right: calc(-1 * var(--gutters));
}

.comments-holder{
  max-width: 730px;
  margin: auto;
  padding: var(--gutters);
}

.comment-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

