/*--------------------------------------------------------------
# Global Forms
--------------------------------------------------------------*/

label {
  display: block;
  font-weight: 800;
}

fieldset {
  margin-bottom: var(--gap);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="file"],
textarea {
  border: 1px solid grey;
  background: transparent;
  color: grey;
  width: 100%;
  min-width: 0;
  transition: all .5s;
  padding: 3px 5px;
  order: 1;
  display: block;

  &:focus {
    border: 1px solid var(--highlight);
  }
}

select {
  width: 100%;

  //cool select.
  $arrow_color: FF4A6F; //change to a color you like. must be hex and no pound symbol!
  $arrow: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1024' height='576' viewBox='0 0 1024 576'%3E%3Cpath fill='%23#{$arrow_color}' d='M1024,64 C1024,81.3333333 1017.66667,96.3333333 1005,109 L557,557 C544.333333,569.666667 529.333333,576 512,576 C494.666667,576 479.666667,569.666667 467,557 L19,109 C6.33333333,96.3333333 0,81.3333333 0,64 C0,46.6666667 6.33333333,31.6666667 19,19 C31.6666667,6.33333333 46.6666667,0 64,0 L960,0 C977.333333,0 992.333333,6.33333333 1005,19 C1017.66667,31.6666667 1024,46.6666667 1024,64 Z'/%3E%3C/svg%3E%0A";
  background-image: url($arrow), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .8rem top 50%, 0 0;
  background-size: .8rem auto, 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  font-weight: bold;

  option{
    font-weight: normal;
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
button{
  display: inline-block;
  cursor: pointer;
}

.btn, .button, input[type="submit"] {
  border: 1px solid transparent;
  display: inline-block;
  text-transform: capitalize;
  background: var(--highlight);
  padding: 5px 10px;
  color: white;
  border-radius: 3px;
  transition: all .5s;
  cursor: pointer;

  &:active, &:focus {
    color: white;
    box-shadow: 0 0 0 2px var(--highlight-alpha);
  }

  &:hover {
    color: white;
    background: var(--highlight-darkened);
  }
}

.btn--o, .button--o {
  border: 1px solid var(--highlight);
  color: var(--highlight);
  background: transparent;

  &:hover, &:focus {
    background: var(--highlight);
    color: white;
  }
}


/*--------------------------------------------------------------
# Input Placeholders
--------------------------------------------------------------*/

//each one needs its own line they cannot be combined selectors
$placeholder_browsers:
'::-webkit-input-placeholder',
':-moz-placeholder',
'::-moz-placeholder',
':-ms-input-placeholder',
'::-ms-input-placeholder',;

@each $placeholder in $placeholder_browsers {
  #{$placeholder} {
    color: inherit;
    opacity: .7;
    font-family: var(--font);
  }
}



/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/
.search-form {
  display: flex;
  //input
  .search-field {
    flex: 1 1 auto;
    padding: 3px 10px 3px 10px;
    border: 1px solid var(--highlight);
    border-radius: 3px;
  }
}

/*------- input appends and prepends for icons --------*/
/*
 * when adding a button near an input you can make it a prepend or append
 * all prepends and appends go AFTER the input. Never before or :focus wont affect the prepend.
 */
.input-prepend, .input-append {
  transition: all .5s;
  background: white;
  z-index: 2;
  color: var(--subtle-text-color);
  box-shadow: none;
}

.input-append {
  border-radius: 0 3px 3px 0;
  margin-left: -2px;
  order: 1;
  border: 1px solid var(--highlight);
  border-left: 0;
}

.input-prepend {
  border-radius: 3px 0 0 3px;
  margin-right: -2px;
  order: 0;
}

input:focus + .input-prepend {
  border-color: var(--highlight);
}

input:focus + .input-append {
  border-color: var(--highlight);
}






