/*--------------------------------------------------------------
# Headers
--------------------------------------------------------------*/
.entry-header, .page-header {
	position: relative;
	min-height: calc(400px + 5vw);
	padding: 30px 0;
	color: white;
	background: #3D2B3B no-repeat center;
	background-size: cover;

	h1 {
		margin: 0;
	}

	.cover-image {
		height: 500px;
	}

}

/*------- Items directly under header should probably have padding even if not a section --------*/
.entry-header + * {
	padding-top: var(--gap);
}


//see media.scss for background image and cover image styles
