/*--------------------------------------------------------------
# Special Images
--------------------------------------------------------------*/
/*
    - Use a background image div for holding a foreground image behind an item or header
    - use cover-image for an image in the foreground of a header. This has a height you can change
*/
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
  }

}


.cover-image {
  width: 100%;
  display: block;
  img {
    object-fit: cover;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

//for ie11 fallbacks
.cover-image, .background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.no-objectfit .cover-image{
  min-height: 300px;
  background-repeat: none;
}

.no-objectfit .background-image img,
.no-objectfit .cover-image img {
  display: none;
}


/*--------------------------------------------------------------
# Article images
--------------------------------------------------------------*/
article img {
  display: block;
}

figure {
  margin-bottom: 1em;
  max-width: 100%;
  @include font-size(13);
}

.card-grid figure, .card-grid-full figure{
  text-align: center;
  margin: 0;
}



/*--------------------------------------------------------------
# Image Alignments
--------------------------------------------------------------*/
img.alignright{
  float: right;
  margin-left: $gap;
  margin-bottom: 1em;
}

img.alignleft{
  float: left;
  margin-right: $gap;
  margin-bottom: 1em;
}

/*
  - Gutenberg does not make this easy
  - We float the img inside the figure that has .alignleft applied.
  - This makes the .alignleft element have the same main column width as text.
  - What makes the float work is that the figure collapses into a zero height element
 */
figure {
  margin: 0;
  margin-bottom: $gap;
}

.wp-block-image.is-resized{
  width: auto;
}

.alignleft img {
  display: block;
  float: left;
  max-width: 50%;
  margin-right: 2em;
  margin-bottom: 1em;
}

.alignright img {
  display: block;
  float: right;
  max-width: 50%;
  margin-left: 2em;
  margin-bottom: 1em;
}

.alignright figcaption,
.alignleft figcaption {
  width: 50%;
  margin-bottom: 1em;
}

.alignleft figcaption {
  float: left;
  clear: left;
  margin-right: 2em;
}

.alignright figcaption {
  float: right;
  clear: right;
  margin-left: 2em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.full-width, .alignfull, .alignwide {
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wp-block-image.alignfull{
  max-width: none;
}

/*--------------------------------------------------------------
# Videos
--------------------------------------------------------------*/
.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
}

.videowrapper iframe, .videowrapper video, .videowrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery, #page .wp-block-gallery{
  @include card-grid(250px);
  padding: $gap 0;
  margin: 0;

  img{
    margin: auto;
    display: block;
    flex-grow: 1;
  }

  .gallery-item, figure{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blocks-gallery-item{
    width: 100% !important;
    margin: 0;
  }


  figcaption{
    text-align: center;
    position: relative;
    background: transparent;
    padding: 0;
    @include font-size(14);
    color: #6c7781;
  }
}

.caption-first .gallery-item {
  .gallery-icon{
    order: 2;
  }

  figcaption {
    order: 1;
  }
}