/*--------------------------------------------------------------
# Classic Sections Styling
--------------------------------------------------------------*/
section, .section {
	//default padding. you can override with .no-padding-bottom , or top, or .padding for all around padding
	padding-top: var(--gap);
	padding-bottom: var(--gap);

	section {
		padding-top: 0;
		padding-bottom: 0;
	}
}

section.heading-center{
	h1, h2{
		text-align: center;
	}
}



/*------- ACF Menu block Defaults --------*/
.site .acf-menu{
	padding: 0;
}
.section-menu{
	background: #4c545d;
	li{
		font-weight: normal;
	}
}
