/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
	padding-top: $gap;
	padding-bottom: $gap;

	section {
		padding-top: 0;
		padding-bottom: 0;
	}
}

