/*--------------------------------------------------------------
# Classic Editor Styling
--------------------------------------------------------------*/

/*------- Mixins --------*/
@import "core/mixins";

/*------- variables --------*/
@import "core/variables";

/*------- Base --------*/
@import "core/base-layout";

/*------- Typography --------*/
@import "global/typography";

/*------- Normalize --------*/
@import "libs/normalize";

/*------- CSS Grid --------*/
@import "core/grid-layout";

/*------- Menu Layout --------*/
@import "core/menu-layout";

/*------- All elements --------*/
@import "elements/elements";

/*------- media --------*/
@import "global/media";



/*--------------------------------------------------------------
# MCE Editor
--------------------------------------------------------------*/
.mce-content-body{
	padding: 5px 30px !important;
}

.mce-content-body{
	@extend .container-content;
}



