/*--------------------------------------------------------------
# gutenberg Editor Styling
--------------------------------------------------------------*/
/*------- Mixins --------*/
@import "core/mixins";
/*------- variables --------*/
@import "core/variables";


html {
	font-size: 62.5%; // resets so rem is easy to use 1.2rem = 12px. On big screens add 2px.
}


/*------- CSS For INSIDE Blocks. Add your styles here --------*/
.acf-block-preview, .block-editor-rich-text{

	font-size: var(--article-font-size); //results in 16px
	line-height: var(--line-height);
	font-family: var(--font);
	color: var(--main-text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;

	/*------- Base --------*/
	@import "core/base-layout";

	/*------- Typography --------*/
	@import "global/typography";

	/*------- Normalize --------*/
	@import "libs/normalize";

	/*------- CSS Grid --------*/
	@import "core/grid-layout";

	/*------- Menu Layout --------*/
	@import "core/menu-layout";

	/*------- All elements --------*/
	@import "elements/elements";

	/*------- media --------*/
	@import "global/media";

	/*------- defaults --------*/
	@import "global/defaults";

	/*------- Default Block overrides --------*/
	@import "wordpress/default-blocks";

	/*------- Template Parts --------*/
	@import "wordpress/template-parts";

}




/*--------------------------------------------------------------
# Gutenberg Changes
--------------------------------------------------------------*/


.editor-post-title__block .editor-post-title__input{
  font-family: var(--font-alt);
}

/*------- ACF textareas --------*/
div .acf-block-component {
	textarea {
		font-size: 16px;
	}
}

/*------- Hide acf page sections when using block editor --------*/
.block-editor__container #acf-group_5aa6a924b02ff{
	display: none;
}


.wp-block[data-align="wide"] {
	max-width: calc(var(--container) - (var(--container-padding)));
}

.edit-post-layout__content{
	background: var(--body-bg);
}

.edit-post-layout__metaboxes{
	background: white;
}


.entry-header{
	h1, h2, h3, h4, h5, h6{
		color: inherit;
	}
}


/*------- WP Sidebar fixes --------*/
//making sidebar wider on wide computer screens
@media(min-width: 1500px) {
	#wpwrap .edit-post-layout.is-sidebar-opened .edit-post-sidebar {
		width: 30%;
	}

	#wpwrap .edit-post-layout.is-sidebar-opened .edit-post-layout__content {
		margin-right: 30%;
	}
}

//hiding sidebar on small screens so you can have a full screen experience
@media(max-width: 1500px){
	#wpwrap .edit-post-layout.is-sidebar-opened .edit-post-sidebar {
		transition: width .5s;

		&:hover{
			width: 50%;
			opacity: 1;
		}
	}

}

//fixing meta boxes below editor
div .block-editor-writing-flow{
	height: auto;
}

//button fixes
.wp-core-ui .acf-block-preview, .block-editor-rich-text{
	.button{
		line-height: 1.5;
		height: auto;
		font-size: inherit;
	}

}



