/*--------------------------------------------------------------
# gutenberg Editor Styling
--------------------------------------------------------------*/
/*------- Mixins --------*/
@import "core/mixins";
/*------- variables --------*/
@import "core/variables";


html {
  font-size: 62.5%; // resets so rem is easy to use 1.2rem = 12px. On big screens add 2px.
}


/*------- CSS For INSIDE Blocks. Add your styles here --------*/
.acf-block-preview, .block-editor-rich-text {

  font-size: var(--article-font-size); //results in 16px
  line-height: var(--line-height);
  font-family: var(--font);
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  /*------- Base --------*/
  @import "core/base-layout";

  /*------- Typography --------*/
  @import "global/typography";

  /*------- Normalize --------*/
  @import "libs/normalize";

  /*------- CSS Grid --------*/
  @import "core/grid-layout";

  /*------- Menu Layout --------*/
  @import "core/menu-layout";

  /*------- All elements --------*/
  @import "elements/elements";

  /*------- media --------*/
  @import "global/media";

  /*------- media --------*/
  @import "global/page";

  /*------- Default Block overrides --------*/
  @import "wordpress/default-blocks";

  /*------- Template Parts --------*/
  @import "wordpress/template-parts";

}

@import "gutenberg-layout";



/*--------------------------------------------------------------
# Add your styles here
--------------------------------------------------------------*/

//body background
.editor-styles-wrapper {
  background: var(--body-bg);
}

//acf metaboxes backgrounds
.edit-post-layout__metaboxes {
  background: white;
}

//post title
.editor-post-title__block .editor-post-title__input {
  font-family: var(--font-alt);
}


.entry-header {
  h1, h2, h3, h4, h5, h6 {
	color: inherit;
  }
}



