/*--------------------------------------------------------------
# Body Background
--------------------------------------------------------------*/
body {
	background: var(--body-bg);
}


/*--------------------------------------------------------------
# Default Headers
--------------------------------------------------------------*/
.entry-header, .page-header {
	position: relative;
	min-height: calc(400px + 5vw);
	padding: 30px 0;
	color: white;
	background: #3D2B3B no-repeat center;
	background-size: cover;

	h1 {
		margin: 0;
	}

	.cover-image {
		height: 500px;
	}

}

/*------- Items directly under header should probably have padding even if not a section --------*/
.entry-header + * {
	padding-top: var(--gap);
}


/*--------------------------------------------------------------
# Default Footer
--------------------------------------------------------------*/

.site-footer {
	padding-top: 5px;
	padding-bottom: 5px;
	background: var(--main-text-color);
	color: var(--subtle-text-color);
	font-size: 1.1rem;

	a{
		color: inherit;
	}
}
