/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer {
  padding-top: $gap;
  padding-bottom: 5px;
  background: var(--main-text-color);
  color: var(--subtle-text-color);
  @include font-size(13);

  a{
    color: inherit;
  }
}