/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

.site-footer {
  padding-top: var(--gap);
  padding-bottom: 5px;
  background: var(--main-text-color);
  color: var(--subtle-text-color);
  font-size: 1.3rem;

  a{
    color: inherit;
  }
}
