/*--------------------------------------------------------------
# Body Background
--------------------------------------------------------------*/
body {
  background: var(--body-bg);
}


/*--------------------------------------------------------------
# Default Headers
--------------------------------------------------------------*/
.entry-header, .page-header {
  position: relative;
  min-height: calc(400px + 5vw);
  padding: 30px 0;
  color: white;
  background-color: var(--dark-grey);
  background-size: cover;


  h1 {
	margin: 0;
  }

  .cover-image {
	height: 500px;
  }

}


/*--------------------------------------------------------------
# Entry Content
--------------------------------------------------------------*/
.entry-header + p, .entry-content > p:first-child{
  padding-top: var(--gap);
}



/*--------------------------------------------------------------
# Default Footer
--------------------------------------------------------------*/

.site-footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background: var(--footer-bg);
  color: var(--subtle-text-color);
  font-size: 1.1rem;

  a{
	color: inherit;
  }
}



/*--------------------------------------------------------------
# Error 404 Page
--------------------------------------------------------------*/
.error404 {
  background: #4F4F4F;
  color: white;

  .site-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-footer, .site-top {
    display: none;
  }

  .title-404 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    color: #727272;
    text-shadow: 1px 1px white;
  }
}
