/*--------------------------------------------------------------
# Panel Left Styling
--------------------------------------------------------------*/
#panel-left {
  background: black;
}


/*------- Panel left button --------*/
body .navigation-menu-icon {
  border-color: white;
  color: white;

  &:after, &:before {
    background: white;
  }
}


/*--------------------------------------------------------------
# Panel Right Styling
--------------------------------------------------------------*/

/*-------  #panel Right --------*/
#panel-right {
  background: rgb(30, 30, 34);
  color: white;
}

//button to open panel
.panel-right-toggle {
  color: white;
  background: transparent;
}

.panel-right-toggle.toggled-on {
  color: white;
}

/*------- Tips --------*/
//did you know that you can keep a panel open all the time on desktop, by adding class .stay-open to the panel element

//Did you know the sidebar is set to go into the right panel when the window reaches a certain width.
// You can change that by opening sidebar.php and changing the data-moveto or remove it completely

