
/*--------------------------------------------------------------
# Sidebar Sizes
--------------------------------------------------------------*/
#primary{
  flex-grow: 1;
}

#secondary{
  flex-basis: 25%;
  flex-grow: 0;
  padding-top: var(--gutters);
}


#secondary .sidebar-holder{
  max-width: var(--panel-right-width);
}


/*------- Inline Sidebar Background --------*/
.sidebar-bg{
	position: relative;
}

.sidebar-bg:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 50vw;
  top: 0;
  left: 0;
  background: #efefef;
  z-index: -1;
}




//some widget styling might be found in panels.scss
/*------- Widgets --------*/
.widget{
  color: white;
}

.widget .menu li{
  color: white;
}

#secondary .widget, #secondary .menu li{
  color: var(--main-text-color);
}

#secondary {
  .menu .current-menu-item > .menu-item-link, .menu .menu-item-link.focus {
	color: var(--highlight);
  }
}


