/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
body {
  background: white;
}

/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/
.site-logo {
  @include font-size(2.2);
  color: white;
  text-transform: uppercase;
  max-width: 350px;
}

/*--------------------------------------------------------------
# Site Top
--------------------------------------------------------------*/
.site-top {
  background: linear-gradient(90deg, #FF5115 0%, #FFA72C 100%);
}


/*--------------------------------------------------------------
# Desktop Menu Styling
--------------------------------------------------------------*/
@media(min-width: $media-nav) {
  .site-top .menu {
    li {
      color: white;
    }

    //top level items: current and hovered
    .top-level-item {
      &.current-menu-item .menu-item-link, .menu-item-link:hover, .menu-item-link.focus {
        background: transparent;
        color: black;
      }
      //top level submenu dropdown
      & > .sub-menu {
        background: #FEBC4A;

        //inside sub menu: current and hovered
        .menu-item-link:hover, .current-menu-item .menu-item-link, .menu-item-link.focus {
          background: rgba(0, 0, 0, .5);
          color: white;
        }
      }

    }
  }
}


/*--------------------------------------------------------------
# Menu Styling: Mobile and Vertical menus
--------------------------------------------------------------*/
.menu li{
  color: white;
}

#panel-left .menu .current-menu-item > .menu-item-link, #panel-left .menu .menu-item-link.focus{
  background: rgba(0, 0, 0, .5);
  color: white;
}



