/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
body {
  background: white;
}

/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/
.site-logo {
  @include font-size(2.2);
  color: white;
  text-transform: uppercase;
  max-width: 350px;
}

/*--------------------------------------------------------------
# Site Top
--------------------------------------------------------------*/
.site-top {
  background: linear-gradient(90deg, #FF5115 0%, #FFA72C 100%);
}

/*------- Nav Menu Button/Panel left button --------*/
body .navigation-menu-icon {
  border-color: white;
  color: white;

  &:after, &:before {
    background: white;
  }
}


/*--------------------------------------------------------------
# Menu Styling
--------------------------------------------------------------*/

//desktop styles for site top menu when its horizontal
@media(min-width: $nav-breakpoint-collapse) {
  .site-top .menu {
    li {
      color: white;
    }

    //top level items
    .top-level-item {
      &.current-menu-item .menu-item-link, .menu-item-link:hover {
        background: transparent;
        color: black;
      }
      //top level submenu dropdown
      & > .sub-menu {
        background: #FEBC4A;

        //inside sub menu
        .menu-item-link:hover, .current-menu-item .menu-item-link {
          background: rgba(0, 0, 0, .5);
          color: white;
        }
      }

    }
  }
}


/*------- panel-left/mobile styling --------*/
.menu li{
  color: black;
}

#panel-left .menu .current-menu-item > .menu-item-link {
  background: rgba(0, 0, 0, .5);
  color: white;
}



