/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/
.site-logo {
	font-size: 3.3rem; //if its a text logo
	text-transform: uppercase;


	color: white;
	max-width: 350px;

	svg, path, g {
		fill: currentColor; //uses color above
	}
}

.site-navigation .site-logo {
	padding: 3px 0;
}

/*--------------------------------------------------------------
# Site Top - holds logo and main menu at top
--------------------------------------------------------------*/
.site-top {
	position: relative; //change to fixed or absolute if wanted.
	background: var(--site-top);
}


/*--------------------------------------------------------------
# Desktop Menu Styling for top menu and default menus that are horizontal
--------------------------------------------------------------*/
@media(min-width: $media-nav) {
	.site-top .menu, .horizontal-menu .menu {

		//all menu items default
		li {
			color: white;
			font-weight: bold;
		}

		//top level items: current and hovered
		.top-level-item {
			&.current-menu-item .menu-item-link, .menu-item-link:hover, .menu-item-link.focus, &.toggled-on {
				background: transparent;
				color: black;
			}

			//top level submenu dropdown items
			& > .sub-menu {
				background: #f78da7;

				//inside sub menu: current and hovered
				.menu-item-link:hover, .current-menu-item .menu-item-link, .menu-item-link.focus {
					background: rgba(0, 0, 0, .5);
					color: white;
				}
			}

		}
	}

  .horizontal-menu .menu-item:last-child .menu-item-link{
	padding-right: 0;
  }

  .horizontal-menu .top-level-item:first-child .menu-item-link{
	padding-left: 0;
  }
}


/*--------------------------------------------------------------
# Menu Styling: Mobile and All other Vertical menus
--------------------------------------------------------------*/
//menu items
.menu li {
	color: white;
}


//menu items in the left panel > current and focused
#panel-left .menu .current-menu-item > .menu-item-link, #panel-left .menu .menu-item-link.focus {
	background: rgba(0, 0, 0, .5);
	color: white;
}

//for more panel-left styling see panels.scss



