/*--------------------------------------------------------------
# Site Wide Variables
--------------------------------------------------------------*/

/*------- Fonts --------*/
// - Change fonts as needed. you may of course need to add a link to your fonts for them to work in functions.php
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-alt: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$line-height: 1.5;
$font-pre: 'Source Code Pro', monospace;
$line-height-pre: 22px;


/*------- Grid and Layout --------*/
$container: 1200px; //the max size of site content
$content-container: 700px; //Size of actual article content
$gutters: 15px;
$gap: $gutters * 2;


/*------- Menu layout --------*/
$nav-breakpoint-collapse: 800px; //when main menu in site-top goes vertical. should match data-moveat in site-top.php or you will have a vertical menu that didnt move to left panel.
$nav-absolute: 500px; //when panel-left should become absolute instead of pushing main content over
$desktop-menu-alignment: center; //can be flex-end or flex-start or center for menu-items positioning on desktop
$panel-left-width: 300px; //width of panel-left when open


/*------- Sidebar Layout --------*/
//when the right panel should overlay instead of pushing over the rest of the site (when it should become position absolute)
$panel-right-absolute: 1030px;

//sidebar width
$sidebar-width: 350px;



/*------- Media Query Sizes --------*/
$media-small: 576px;
$media-medium: 767px;
$media-large: 1030px;
$media-container: $container;

$collapse-on-small: true; //collapse grid and flex-grid and flex on small devices automatically. small-span can override


/*------- Z-index --------*/
$z-index-top: 99;
$z-index-overlay: 95;
$z-index-menu-button: 90;
$z-index-menu: 80;
$z-index-behind: -1;



//Colors
$black: #191919;
$grey: #cacaca;



//Applied Colors
$color-main: $black;
$color-highlight: #ff4a6b;
$color-subtle: $grey;