/*--------------------------------------------------------------
# CSS Variables. Change these to match your theme
--------------------------------------------------------------*/
:root {
  //Fonts. change to the fonts you want. Defaults to OS Fonts
  --font-size: 1rem; //16px
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-alt: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --line-height: 1.5;
  --font-pre: 'Source Code Pro', monospace;
  --line-height-pre: 22px;


  //Colors. Add colors here
  --black: #191919;
  --grey: #cacaca;
  --pink: #f75959;
  --pink-darkened: #cd5757;
  --pink-alpha: rgba(247, 89, 89, 0.5);

  //Applied Colors. Add your own applied areas
  --body-bg: white;
  --main-text-color: var(--black);
  --subtle-text-color: var(--grey);
  --site-top: var(--pink);

  //links and form buttons. used in typography.scss and forms.scss
  --highlight: var(--pink);
  --highlight-alpha: var(--pink-alpha);
  --highlight-darkened: var(--pink-darkened);

}


/*--------------------------------------------------------------
# Layout CSS Variables. Probably don't need to touch.
--------------------------------------------------------------*/
:root{

  /*------- Menu Variables --------*/
  --nav-move: 800px; //when main menu in site-top should move into panel left. Used by data-moveat event
  --desktop-menu-alignment: center; //can be flex-end or flex-start or center for top level menu-items positioning on desktop

  /*------- Layout --------*/
  --container: 1200px; //holds site in a centered container
  --container-content: 700px; //holds article text for nice reading
  --container-padding: 30px; //used on containers

  --gutters: 15px; //common padding size, used on flexbox and modules
  --gap: 30px; //common gap size used on grids and margin bottoms. Usually double the gutter


  /*------- Panels --------*/
  --panel-left-width: 300px; //width of panel-left when open
  --panel-right-width: 350px; //width of panel-right when open

  /*------- Z-index --------*/
  --z-index-top: 99;
  --z-index-overlay: 95;
  --z-index-menu-button: 90;
  --z-index-menu: 80;
  --z-index-behind: -1;
}

/*--------------------------------------------------------------
# Wide Screen Variables
--------------------------------------------------------------*/
@media(min-width: 1400px ){
  :root{
    //Large wide screens can have bigger text and a wider container
    --font-size: 1.125rem;
    --container: 1400px;
    --container-content: 800px;
  }
}

/*--------------------------------------------------------------
# SASS Variables
--------------------------------------------------------------*/
//css vars cannot be used in media queries. Sass is still used for media query variables

/*------- Media Query Sizes. --------*/
$media-nav: 800px; //when main navigation should go mobile.

$media-small: 576px;
$media-medium: 767px;
$media-large: 1030px;
$media-container: 1200px; //match the container css variable
$gap: 30px; //used in some queries
$collapse-on-small: true; //collapse grid and flex-grid and flex on small devices automatically. small-span can override

/*------- Panel Becomes Absolute Query  --------*/
$panel-left-absolute: 500px; //when panel-left should become absolute instead of pushing main content over
$panel-right-absolute: 1030px;

