/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.icon, #wpadminbar .icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  height: 1em;
  vertical-align: middle;
  width: 1em;
  position: relative;
  fill: currentColor;

  svg,  path, g{
    fill: currentColor;
  }
}



/*--------------------------------------------------------------
# Icon Tweaks
--------------------------------------------------------------*/


.icon-arrow-right{
  top: -2px;
}

